#canvas-static {
  background-image: url('https://s3-us-west-1.amazonaws.com/smilr-seed/duckhunt-static-1.png');
  outline: black 1px solid;
}
#canvas-dynamic {
  background-color: #F9F9F9;
  outline: black 1px solid;
  
}
#canvas-game {
  background-color: transparent;
  outline: black 1px solid;
}